*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
 
}
.header {
    display:flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:10vw;
}
.navbar {
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}
.logo {
    flex:start;
    border-radius:50%;
    max-width: 60px;
    max-height: 60px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f8f8;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.footer-content {
    text-align : center;
    max-width: 800px;
   padding : 10px;
}
.social-links {
    display :flex;
    gap: 10px;
    justify-content: center;
}
.social-links a{
    text-decoration: underline;
}
@media (max-width: 550px) {
    .container,.header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 10px;
    }

    .navbar a {
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #eee;
    }
    .social-links {
        flex-direction: column;
        align-items: center;
    }
}

